#I think I should just push all the settings, cause I am dumb with cpp rn.
# .vscode/




# Ignore all compiled binaries (no extension)
# In linux, files don't have extension exe so..
*
!*/
!.gitignore
!*.cpp
!*.h
!*.hpp
!.vscode/
test.cpp